@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-dark: rgb(11, 72, 90);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container {
    width: 400px;
    height: 400px;
    margin: 10% auto;
    background-color: rgb(253, 249, 227);
    padding: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 20px solid gold;
    z-index: 4;
    padding-top: 55px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color)
}

.botoes button {
    border: none;
    background-color: gold;
    border-radius: 10%;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
}

.botoes button:hover {
    background-color: rgb(240, 205, 6)
}

.botoes .iniciar:active {
    background-color: rgba(9, 119, 9, 0.774);
}
.botoes .pausar:active {
    background-color: rgb(231, 39, 5);
}

.relogio {
    font-size: 3em;
}

/*background*/
.pg { 
    background-image: url(../img/madeira.jpg);
    min-height: 100vh;
    display: flex;
}
/*efeito de opacidade no background*/
.blur {
    background-color: rgba(0, 0, 0, 0.425);
    position: absolute;
    height: 100vh;
    width: 100vw;
} 

/*Detalhes da parte de cima*/
.bolinha {
    border-radius: 50%;
    height: 50px;
    width: 100px;
    background-color: rgba(2, 2, 0, 0);
    border: 15px solid gold;
    position: absolute;
    margin-left: 46.5%;
    margin-top: 5%;
}
.traco {
    height: 40px;
    width: 30px;
    background-color: gold;
    position: absolute;
    margin-left: 48.9%;
    margin-top: 8%;
}