@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-dark: rgb(11, 72, 90);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container {
    width: 400px;
    height: 400px;
    margin: 10% auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 20px solid gold;
    z-index: 4;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color)
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: var(--primary-color-dark);
}

form button:active {
    background-color: royalblue;
}

.relogio {
    font-size: 3em;
}
.heading { 
    text-align: center;
}
.pg { 
    background-image: url(../img/madeira.jpg);
    min-height: 100vh;
    display: flex;
}
.blur {
    background-color: rgba(0, 0, 0, 0.384);
    position: absolute;
    height: 100vh;
    width: 100vw;
} 
.bolinha {
    border-radius: 50%;
    height: 50px;
    width: 100px;
    background-color: rgba(2, 2, 0, 0);
    border: 15px solid gold;
    position: absolute;
    margin-left: 46.5%;
    margin-top: 5%;
}
.traco {
    height: 40px;
    width: 30px;
    background-color: gold;
    position: absolute;
    margin-left: 48.9%;
    margin-top: 8%;
}