@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #2f1c41;
    --primary-color-dark: rgb(11, 72, 90);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
/*container com tudo dentro*/
.container {
    text-align: center;
    max-width: 300px;
    margin: 50px auto;
    background-color: #5941A9;
    padding: 20px;
    border-radius: 20px;
}

/*tabela que estão os botões*/
.calculadora {
    width: 260px;
}

/*Display da calculadora*/

.display {
    font-size: 2em;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 5px;
}

/*Botões */

.btn {
    width: 55px;
    height: 55px;
    font-size: 1em;
    border: none;
    background-color: #6D72C3;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 3px;
    color: #fff;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.30); /*sombra dos botões*/
}
.btn:hover{
    background-color: #5e62aa;
}

.btn-clear {
    background-color: #EE8434;
}
.btn-clear:hover {
    background-color: #d67225
}

.btn-op {
    background-color: #43414b;
}

.btn-op:hover {
    background-color: #3e3c47;
}

.btn-del {
    background-color: #C5076C;
}
.btn-del:hover {
    background-color: #ad065f;
}
